<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.kaola.generic.api.bank.mapper.TransactionRecordsMapper">

    <sql id="base_column">
        id,name
    </sql>


    <insert id="insertTransactionRecords">
        SELECT 1
    </insert>

    <update id="updateTransactionRecords">
        update 1
    </update>
</mapper>